{% extends 'bootstrap.html' %}
{% block content %}

<script type="text/javascript">
	function validation()
	{
		var alpha=/^[A-Z a-z]+$/;
		var num=/^[0-9]+$/;
		
		var password=document.getElementById('password')
		var confirmpassword=document.getElementById('confirmpassword')

		if(password.value.length==0)
			{
			alert('enter valid password')
			password.focus();
			return false;
			}
		else if(confirmpassword.value.length==0)
			{
			alert('enter valid password')
			confirmpassword.focus();
			return false;
			}
		else
			{
			return true;
			}}
	</script>
	<form method='post' action='{% url 'enternewAction'%}'>
			{% csrf_token %}
			<input type='hidden' name='username' value="{{user}}">

		<div class="container mt-5">
  	 	 <div class="row d-flex justify-content-center">
    	  	  <div class="col-md-6">
    	   	    <div class="card px-5 py-5" id="form1">
        	        <div class="form-data" v-if="!submitted">
     	 	              <div class="forms-inputs mb-4 text-center"> <span><h2>New password</h2></span>
                        
                    </div>
                   
			<div class="form-floating mb-3">
  	<input type="text" name='password' id='password' class="form-control" id="floatingInput" placeholder="name@example.com">
  	<label for="floatingInput">New Password</label>
		</div>


	<div class="form-floating mb-3">
  	<input type="text" name='confirmpassword' id='confirmpassword' class="form-control" id="dob" placeholder="name@example.com">
  	<label for="floatingInput">Confirm Password</label>
		</div>



		
				
                   
			<div class="mb-3  text-center"><button type="submit" value='search' onclick="return validation()" class="btn btn-primary btn-rounded">Search</button></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</form>


{% endblock %}
<html>
<script type="text/javascript">
	function validation()
	{
		var alpha=/^[A-Z a-z]+$/;
		var num=/^[0-9]+$/;
		
		var password=document.getElementById('password')
		var confirmpassword=document.getElementById('confirmpassword')

		if(password.value.length==0)
			{
			alert('enter valid password')
			password.focus();
			return false;
			}
		else if(confirmpassword.value.length==0)
			{
			alert('enter valid password')
			confirmpassword.focus();
			return false;
			}
		else
			{
			return true;
			}}
	</script>


	<body>
		<form method='post' action='{% url 'enternewAction'%}'>
			{% csrf_token %}
			<input type='hidden' name='username' value="{{user}}">
			<table>
			<tr>
			<td>New Password</td>
			<td><input type='password' name='password' id='password'></td>
			</tr>
			<tr>
			<td>Confirm Password</td>
			<td><input type='password' name='confirmpassword' id='confirmpassword'></td>
			</tr>
			<tr>
			<td></td>
			<td><input type='submit' value='submit' onclick="return validation()"></td>
			</tr>
			</table>
		</form>
	</body>
</html>